


.dataTable {
	background-color: black;
	border: 1px solid #000066;
	font-size :	9pt;
	margin:	5px;
	width:90%;
}

.dataTable th {
	border-right: 1px solid #c8c8ff;
	padding-left: 2px;
	padding-right:12px;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	color: white;
	background-color: #FF0066;
	margin-right: 10px;
	white-space: nowrap;
}

.dataTable  td {
	font-family: verdana, arial, helvetica, sans-serif;
	padding-left: 2px;
}

.dataTable td.hidden {
	display: none;
}

.dataTable th.hidden {
	display: none;
}

.dataTable th.r {
	text-align: right;
	padding-right: 10px;
}

.dataTable th.c {
	text-align: center;
}

.dataTable td.r {
	text-align: right;
	padding-right: 10px;
}

.dataTable td.c {
	text-align: center;
}

.dataTable  tr.odd {
	background-color: whitesmoke;
}

.dataTable tr.even {
	background-color: #d6cfe6;
}

.dataTable th a   ,.dataTable th a:visited {
	text-align: left;
	color: white;
}

.dataTable th a:hover {
	color: #ffcc00;
	background-color: transparent;
}

.dataTable .order1 {
	background-position: right;
	background-image: url('img/arrow_up.gif');
	background-repeat: no-repeat;
}

.dataTable .order2 {
	background-position: right;
	background-image: url('img/arrow_down.gif');
	background-repeat: no-repeat;
}

tr.dataTableHighlight {
	background-image: url('img/selected.gif');
	background-repeat: repeat-x;
	background-color: #ffff99;
}

